<!DOCTYPE html>
<html>
<head>
  <title>Basic Commands</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1>Basic Commands</h1>
  <ul>
    <li><a href="/commands/come">Come</a></li>
    <li><a href="/commands/place">Place / Freedom</a></li>
    <li><a href="/commands/leave-it">Leave It</a></li>
    <li><a href="/commands/safe">Safe</a></li>

  </ul>
  <p><a href="/">← Back to Home</a></p>
</body>
</html>

