<!DOCTYPE html>
<html>
<head>
  <title>Puppy Training Guide</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1>Puppy Training Guide</h1>
  <nav>
    <a href="/crate">Crate Training</a> |
    <a href="/potty">Potty Training</a> |
    <a href="/commands">Basic Commands</a> |
    <a href="/social">Socialization</a>
  </nav>
</body>
</html>
